body {
  background-color: blanchedalmond;
}

.background {
  background-color: transparent;
  background-image: url(imgs/background.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.background::before {
  content: "";
  background-image: url(imgs/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*fonte*/
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sour-gummy-font {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 800;
  font-size: large;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.ga-maamli-regular {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header::before {
  content: "";
  background-image: url(imgs/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  background-color: black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

ul {
  list-style-type: none;
  text-align: right;
  padding: 2px;
  position: relative;
}
a:hover {
  color: brown;
}

a {
  text-decoration: none;
}

.logo {
  border-radius: 20px;
  width: 170px;
  height: 170px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buton {
  display: flex;
  align-items: center;
  border-radius: 16px;
  height: 40px;
  width: 20%;
  margin: auto;
  font-size: large;
  background-color: aqua;
  color: black;
}

.versao-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: large;
  background-color: white;
  color: black;
}

.versao-button-curriculo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: large;
  background-color: white;
  color: black;
}

.lis {
  margin: 10px;
  padding: 20px;
}

.videoprin {
  margin-top: 20px;
  text-align: center;
}

.titulo-frutas {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.blocos {
  background-color: rgb(177, 177, 252);
  position: relative;
  border: 1px solid green;
  border-radius: 20px;
  margin: 15px;
  width: 15%;
  height: 200px;
  box-shadow: 0px 8px 16px #a2ad05;
}

.blocks {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.imgsfruits {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin: 15px;
  margin-left: 25%;
  margin-bottom: 2px;
}

.textfruits {
  text-align: center;
}

.texto {
  text-align: center;
  padding: 10px;
  background-color: rgb(171, 235, 171);
  border-radius: 20px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.format-texto {
  font-size: x-large;
}

.ver-mais {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ver_mais_button {
  border-radius: 20px;
  background-color: rgb(47, 161, 255);
  border-color: rgb(47, 161, 255);
  height: 50px;
  width: 10%;
  font-size: large;
}

.button_home {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  width: 10%;
  position: relative;
}

footer {
  width: 98%;
  margin: auto;
  margin: 2px 0 -10px 0px;
  bottom: 0;
  padding: 20px;
  background: rgb(156, 156, 156);
  position: relative;
}

/*login/cad*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
}

.aredond {
  margin: 20px;
  height: 30px;
  width: 55%;
  border-radius: 50px;
}

.aredond2 {
  margin: 20px;
  height: 30px;
  width: 700px;
  border-radius: 50px;
}
.aredond3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin: 20px;
  height: 30px;
  width: 100%;
  border-radius: 50px;
  background-color: greenyellow;
}

label {
  display: inline-block;
  width: 70px;
  font-size: large;
}

.spantext {
  display: inline-block;
  width: 120px;
  font-size: medium;
}

form {
  width: 50%;
  margin: auto;
  position: relative;
}

/*curriculos links

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: blanchedalmond;
}


.centro{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    background-color: white;

}*/

.links {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.linksButton {
  margin: 20px;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: greenyellow;
  border-color: purple;
}

/*SOBRE*/

.format-videos {
  margin-top: 2%;
}
