body{
  background-color: blanchedalmond;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.sour-gummy-font {
  font-family: "Sour Gummy", sans-serif;
  font-weight: 800;
  font-size: large;
  font-style: normal;
  font-variation-settings:  "wdth" 100;
}

.ga-maamli-regular {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button_home{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  width: 10%;
  position: relative;
}

footer {
  width: 98%;
  margin: auto;
  margin: 2px 0 -10px 0px;
  bottom: 0;
  padding: 20px;
  background: rgb(156, 156, 156);
  position: relative;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative;
}


.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: white;

}

.links{
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.linksButton{
  margin: 20px;
  height: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: greenyellow;
  border-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textfruits{
  text-align: center;
}

.versao-button{
  display: flex;
  align-items: center;
  border-radius: 16px;
  height: 40px;
  width: auto;
  font-size: large;
  background-color:white;
  color: black;
}

a:hover{
  color: brown;
 
}

a{
  text-decoration: none;
}

.ver-mais{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.versao-button-home{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 16px;
  height: 40px;
  width: 10%;
  font-size: large;
  background-color:white;
  color: black;
}